.main {
  width: 100vw;
}

.firstSection {
  width: 100vw;
  gap: 5%;
  display: flex;
  justify-content: center;
}

.divTitle {
  width: 45%;
  margin: 50px 0 50px 0;
  padding-left: 7px;
}

.title {
  font-size: 40px;
  color: var(--font-color-white);
}

.divbutton {
  width: 45%;
  margin: 50px 0 50px 0;
}

.secondSection {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}
