* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  /* 🎨 Colores principales */
  --background-color-write: #ffffff;
  --background-color-black: #282828;
  --background-color-blue: #212224;
  --background-actions: #00f431;
  --font-color-black: #555;
  --font-color-white: #ffffff;

  /* 💡 Bordes y radios */
  --border-radius: 10px;
  --border-color: #555;

  /* 🔤 Tipografía */
  --font-size-base: 22px;
  --font-size-sm: 14px;
  --font-size-lg: 30px;

  /* a  */
  --transition-time: 0.2s;
  --escale: 1.4;

  /* 🕶 Sombras */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-hover: rgba(45, 210, 67, 0.216);
}

body {
  background-color: var(--background-color-black);
  background: linear-gradient(
    180deg,
    #212224,
    #212224,
    #212224,
    #212224,
    #212224,
    #0a1e0ee8
  );
  background-repeat: none;
  background-attachment: fixed;
}

dialog {
  scale: 0;
  transition: scale 0.2s ease, display 0.2s allow-discrete;
}

dialog[open] {
  display: flex;
  scale: 1;
  transition: scale 0.2s ease-in-out;
  @starting-style {
    scale: 0;
  }
}
