* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  /* 🎨 Colores principales */
  --background-color-write: #ffffff;
  --background-color-black: #282828;
  --background-color-blue: #212224;
  --background-actions: #00f431;
  --font-color-black: #555;
  --font-color-white: #ffffff;

  /* 💡 Bordes y radios */
  --border-radius: 5px;
  --border-color: #555;

  /* 🔤 Tipografía */
  --font-size-base: 22px;
  --font-size-sm: 14px;
  --font-size-lg: 30px;

  /* a  */
  --transition-time: 0.2s;
  --escale: 1.05;

  /* 🕶 Sombras */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--background-color-black);
}