.header {
  height: 50px;
  padding: 10px;
  background-color: var(--background-color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgDiv {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.title {
    font-size: var(--font-size-lg);
    color: white;
    text-decoration: none;
}

