.taskDiv {
  width: 95%;
  /* background: #1a211f; */
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  /* border-radius: 20px; */
}

.configurationDiv {
  display: flex;
  gap: 8px;
  margin-right: 40px;
}
