.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SingUpBox {
  background-color: var(--background-color-black);
  width: 375px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  justify-content: space-evenly;
  transition: var(--transition-time);
}

.title {
  color: white;
}