.divPage {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-black);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: var(--background-color-blue);
}

.logoDiv {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.logoDiv h1 {
  color: white;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divMain {
  background-color: var(--background-color-black);
  width: 375px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  justify-content: space-evenly;
  transition: var(--transition-time);
}

.divMain:hover {
  /* border: 2px solid var(--background-actions) */
}

.title {
  color: white;
}