.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #eee;
  overflow-y: auto;
  height: 100vh;
  background-color: var(--background-color-black);
}
