/* .sec_form {
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  height: 450px;
  padding: 20px;
  border: 3px solid #67AE6E;
  border: 3px solid #059ca7;

  grid-column: 3/5;
  grid-row: 6;
  & h2 {
    font-size: 34px;
    color: #000;
  }
  & form {
    display: flex;
    place-content: center center;
    place-items: center center;
    flex-direction: column;
    gap: 20px;
    & input {
      height: 50px;
      padding: 6px;
      border-radius: 5px;
      border: 2px solid #000;
      background: #fff;
      width: 400px;
      font-size: 22px;
      color: #000;
      outline: none;
    }
    & button {
      margin-top: 40px;
      display: flex;
      place-items: center center;
      place-content: center center;
      gap: 20px;
      background: #67ae6e;
      background: #059ca7;

      box-shadow: 1px 2px 15px 0px #67AE6E;
      box-shadow: 1px 2px 15px 0px #059ca7;

      border: none;
      padding: 8px;
      border-radius: 5px;
      width: 200px;
      height: 44px;
    }
  }
} */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imput {
  width: 350px;
  height: 44px;
  background-color: var(--background-color-write);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: black;
  font-size: var(--font-size-base);
  margin: 10px 10px;
  padding: 0 0 0 15px;
}

.button {
  width: 350px;
  width: 150px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 7px;
  background-color: var(--background-actions);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  color: black;
  font-size: var(--font-size-base);
}
